.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.row {
    display: flex;
}

@media screen and (max-width: 600px) {
    .column {
        flex: 50%;
    }
}
